/* Google fonts loading montserrat */
@import url('https://fonts.googleapis.com/css?family=Montserrat:200,400,700');

body {
    background: #242424;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

header {
    height: 40px;
    background: #8E2DE2;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4A00E0, #8E2DE2);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4A00E0, #8E2DE2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

nav {
    color: white;
    padding: 4px;
    text-align: center;
    list-style-type: none;
}

h1 {
    color: white;
    text-align: center;
}


.thin {
    font-weight: 200;
    color: white;
}

#map {
    height: 600px;
    width:700px;
    text-align: center;
}

#mapimg {
    height: 600px;
    width: 1000px;
    margin-left:45%;
    margin: 30px;
}

section {
    margin-top: 30px;
    text-align: center;
}

.flex{
    display:flex;
    flex-wrap:wrap;
    text-align:center;
    width: 100%;
    flex-direction: row;
    align-items: center;
    margin: 10px auto;
    justify-content: center;
    color: white;
}

.flex-nav a{
    margin: 5px;
}

.about_content {
    color: white;
    margin-top: 30px;
    width:900px;
    margin:60px;
}


.button {
    display: inline-block;
    padding: 25px 55px;
    color: white;
    
    text-transform: capitalize;
    text-decoration: none;

    -webkit-box-shadow: 0px 10px 39px -15px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 10px 39px -15px rgba(0,0,0,0.75);
    box-shadow: 0px 10px 39px -15px rgba(0,0,0,0.75);
    transition: 300ms;
}
.button:hover {
    transform: translateY(-5px);
    transition: 300ms;
}

.red {
    background: rgb(255, 77, 53);  
}

.orange {
    background: rgb(255, 186, 49);
}